.email {
    font-size: 6rem;
    color: black;
    font-weight: 700;
    text-align: center;
    margin-top: 15rem;
}

.flex {
    text-align: center;
    margin-top: 1rem;
}

ion-icon {
    font-size: 5rem;
    border-radius: 12312313123123123rem;
    margin-right: 3rem;
    color: black;
    text-decoration: none;
}