#nextquestion {
    width: 95vw;
    height: 50px;
    transform: translateY(1225%);
}

.equation {
    display: flex;
    font-size: 12rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input {
    border: 5px solid black;
    border-radius: 1rem;
    font-size: 10rem;
    width: 310px;
    height: 300px;
    text-align: center;
}

#questionsanswered {
    text-align: center;
    color: black;
    margin-right: 40px;
}

#flex {
    justify-content: center;;
    display: flex;
    margin-top: 100px;
    font-size: 2rem;
}